version: "3.8"

services:
  db:
    image: postgres:17
    container_name: foodgram_db
    env_file:
      - ./backend/.env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  backend:
    image: argentums/foodgram_backend:latest
    container_name: foodgram_backend
    restart: always
    build: ./backend
    volumes:
      - static:/app/static/
      - media:/app/media/
    depends_on:
      - db
    env_file:
      - ./backend/.env

  frontend:
    image: argentums/foodgram_frontend:latest
    container_name: foodgram_frontend
    build: ./frontend
    volumes:
      - ./frontend/:/app/result_build/
    depends_on:
      - backend

  nginx:
    image: nginx:1.25-alpine
    ports:
      - 8000:80
    volumes:
      - ./gateway/default.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html/
      - ./docs/redoc.html:/usr/share/nginx/html/api/docs/redoc.html
      - ./docs/openapi-schema.yml:/usr/share/nginx/html/api/docs/openapi-schema.yml
      - static:/var/html/static/
      - media:/var/html/media/
    depends_on:
      - frontend

volumes:
  postgres_data:
  static:
  media:
